.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fafafa;

  .auth-card {
    background: white;
    padding: 2.5rem;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.05);
    width: 100%;
    max-width: 400px;

    .form-title { text-align: center; color: #333; margin-bottom: 0.5rem; }
    .subtitle { text-align: center; color: #666; margin-bottom: 2rem; font-size: 0.9rem; }

    .form-content {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;

      .input-group {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        label { font-weight: 600; color: #666; font-size: 0.85rem; }
        .input-field { 
          padding: 0.8rem; border: 1px solid #ddd; border-radius: 8px; 
          background-color: #f0f2f9; // Color de tus capturas
        }
      }

      .submit-button {
        margin-top: 1rem;
        padding: 0.9rem;
        background-color: #6200ee; // Violeta de tu TP
        color: white;
        border: none;
        border-radius: 8px;
        font-weight: bold;
        cursor: pointer;
        &:disabled { opacity: 0.6; }
      }
    }

    .footer-text {
      text-align: center; margin-top: 1.5rem; font-size: 0.9rem;
      .link { color: #6200ee; font-weight: bold; text-decoration: none; }
    }
  }
}
