
@import "tailwindcss"; 

$primary-orange: #FF8C00; 
$dark-bg: #1A1A1A;
$text-white: #FFFFFF;
$naranja: #FF8C00;


.nav-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 25px;

  .nav-btn {
    background: white;
    color: #333;
    padding: 12px 24px;
    border-radius: 30px;
    border: 2px solid $primary-orange;
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);

    &:hover {
      background: $primary-orange;
      color: white;
      transform: translateY(-3px);
      box-shadow: 0 6px 12px rgba(255, 140, 0, 0.2);
    }
  }
}
.contenedor-login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6; 
}

.card-login {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem; 
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  width: 20rem; 
  text-align: center;
  
  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    color: #1f2937; 
  }
}

.mi-input {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.75rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  outline: none;
  transition: all 0.3s;
  
  &:focus {
    border-color: $naranja;
    box-shadow: 0 0 0 1px #fb923c; 
  }
}

.mi-boton {
  width: 100%;
  padding: 0.75rem;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 0.5rem;
  background-color: $naranja;
  transition: transform 0.2s;
  cursor: pointer;
  
  &:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
  }
}